

# Data Loading

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Mangesh\Desktop\1 month\Projects\OTT Platform Analysis for Advertisement Agency\Dataset\dataset.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [5]:
df.sample(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
4200,ts33741,Threesome,SHOW,Alice lives with her boyfriend Mitch and their...,2011,TV-14,24,['comedy'],['GB'],2.0,tt2071322,7.5,1360.0,6.788,7.4
4967,tm172047,Keiko The Untold Story of the Star of Free Willy,MOVIE,The millions of Keiko fans around the world fi...,2013,NaN,75,['documentation'],['US'],NaN,tt3045810,8.0,89.0,4.019,10.0
9616,tm1117103,Sold Out,MOVIE,A female talent scout takes a down-on-his-luck...,2021,NaN,91,"['romance', 'drama', 'music']",['US'],NaN,tt9850740,5.6,138.0,2.409,5.5
4805,tm136842,My Name Is Salt,MOVIE,"Year after year, just after the monsoon season...",2013,NaN,92,"['documentation', 'european']","['CH', 'IN']",NaN,tt3276852,7.6,222.0,1.561,7.2
2575,tm126092,Gunaa,MOVIE,"Guna, a mentally-disturbed man, imagines a fic...",1991,NaN,167,"['thriller', 'romance', 'drama']",['IN'],NaN,tt0140090,8.2,2681.0,2.592,7.0

In [6]:
df.shape

(9871, 15)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9871 entries, 0 to 9870
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9871 non-null   object
 1   title                 9871 non-null   object
 2   type                  9871 non-null   object
 3   description           9752 non-null   object
 4   release_year          9871 non-null   int64
 5   age_certification     3384 non-null   object
 6   runtime               9871 non-null   int64
 7   genres                9871 non-null   object
 8   production_countries  9871 non-null   object
 9   seasons               1357 non-null   float64
 10  imdb_id               9204 non-null   object
 11  imdb_score            8850 non-null   float64
 12  imdb_votes            8840 non-null   float64
 13  tmdb_popularity       9324 non-null   float64
 14  tmdb_score            7789 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 1.1+ MB

In [8]:
df.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,9871.000000,9871.000000,1357.000000,8850.000000,8.840000e+03,9324.000000,7789.000000
mean,2001.327221,85.973052,2.791452,5.976395,8.533614e+03,6.910204,5.984247
std,25.810071,33.512466,4.148958,1.343842,4.592015e+04,30.004098,1.517986
min,1912.000000,1.000000,1.000000,1.100000,5.000000e+00,0.000011,0.800000
25%,1995.500000,65.000000,1.000000,5.100000,1.170000e+02,1.232000,5.100000
50%,2014.000000,89.000000,1.000000,6.100000,4.625000e+02,2.536000,6.000000
75%,2018.000000,102.000000,3.000000,6.900000,2.236250e+03,5.634000,6.900000
max,2022.000000,549.000000,51.000000,9.900000,1.133692e+06,1437.906000,10.000000

# Data Preprocessing and Cleaning

1. Removing unnecessary data - Dataset Size Reduction

In [9]:
#After observation we can see that columns mentioning 'Ids' will not be significant in the analysis. 
#Hence they can be dropped.
df.drop(['id', 'imdb_id'], axis = 1, inplace = True)

In [10]:
df.sample(5)

,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
5474,The Oddbods Show,SHOW,The series focuses on seven different characte...,2016,TV-G,25,"['animation', 'comedy', 'family', 'european']","['GB', 'SG']",1.0,6.4,277.0,1.960,NaN
4601,G.I. Joe: Retaliation,MOVIE,"Framed for crimes against the country, the G.I...",2013,PG-13,110,"['thriller', 'action', 'scifi']",['US'],NaN,5.7,180403.0,30.599,5.6
6463,Driver,MOVIE,"A dark drama set on the streets of Las Vegas, ...",2018,NaN,79,"['crime', 'drama']",['US'],NaN,4.0,100.0,0.986,3.0
9791,Lawyer Viswanath,MOVIE,Viswanath is a lawyer who is blessed with a lo...,2021,NaN,132,"['thriller', 'comedy', 'drama']",['IN'],NaN,8.3,588.0,0.644,NaN
2837,Sweet Home Alabama,MOVIE,"New York fashion designer, Melanie Carmichael ...",2002,PG-13,108,"['romance', 'comedy']",['US'],NaN,6.2,111609.0,16.155,6.4

2. Handling Null Values

In [11]:
df.isnull().sum()

title                      0
type                       0
description              119
release_year               0
age_certification       6487
runtime                    0
genres                     0
production_countries       0
seasons                 8514
imdb_score              1021
imdb_votes              1031
tmdb_popularity          547
tmdb_score              2082
dtype: int64

In [12]:
#For description column, the null values can be filled with an random value. Hence, it is better to replace them with 'NA'.
df['description'].fillna('Not Available', inplace = True)

In [13]:
#For null values in 'age_certification' column, replacing them with 'TV-G' can be the best choice.
df['age_certification'].fillna('TV-G', inplace = True)

In [14]:
df['type'][df['seasons'].isnull()].unique()
# We can observe that the null values in season column are only for MOVIES. Hence we can fill them with NOT Applicable.

df['seasons'].fillna('Not Applicable' , inplace = True)

In [15]:
#Numerical null values can be filled with median as it is a metric that is not affected by outliers
df['imdb_score'].fillna(df['imdb_score'].median(), inplace = True)
df['imdb_votes'].fillna(df['imdb_votes'].median(), inplace = True)
df['tmdb_popularity'].fillna(df['tmdb_popularity'].median(), inplace = True)
df['tmdb_score'].fillna(df['tmdb_score'].median(), inplace = True)

In [16]:
df.isnull().sum()

title                   0
type                    0
description             0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

3. Handling Duplicate Values

In [17]:
df.shape

(9871, 13)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.shape

(9868, 13)

4. Handling Mismatch in Data Types

In [20]:
df['release_year'] = pd.to_datetime( df['release_year'], format = '%Y' ).dt.year

In [21]:
df['release_year'].head()

0    1934
1    1926
2    1946
3    1940
4    1950
Name: release_year, dtype: int32

# Saving the cleaned data

In [22]:
df.to_csv(r'C:\Users\Mangesh\Desktop\1 month\Projects\OTT Platform Analysis for Advertisement Agency\Dataset\cleaned_dataset.csv' , index = False)